﻿@{
    ViewData["Title"] = "Contacto";
}


<section class="contact_info_area sec_pad bg_color">
    <div class="container">
        <h1 class="f_size_30 f_600 t_color3 l_height45 text-center  mt-5">¡Empieza ahora!</h1>
        <h2 class="f_size_20 f_600 t_color3 l_height45 text-center mb_90">Obtén todos los beneficios que Magnify tiene para ti, registra tus datos <br /> y a la brevedad nos pondremos en contacto.</h2>
        <div class="row">
            <div class="col-lg-3 pr-0">
                <div class="contact_info_item">
                    <h6 class="f_p f_size_20 t_color3 f_500 mb_20">
                        Dirección de oficinas
                    </h6>
                    <p class="f_400 f_size_15">
                        Calz. de los Ángeles 127-D, Casa Grande, 83246 Hermosillo, Son
                    </p>
                </div>
                <div class="contact_info_item">
                    <h6 class="f_p f_size_20 t_color3 f_500 mb_20">
                        Información de contacto
                    </h6>
                    <p class="f_400 f_size_15"><span class="f_400 t_color3">Teléfono:</span>662 276 4075</p>
                    <p class="f_400 f_size_15"><span class="f_400 t_color3">Email:</span> <a href="mailto:info@xipetechnology.com ">info@xipetechnology.com </a></p>
                    <p class="f_400 f_size_15"><span class="f_400 t_color3">Linkedin:</span> <a href="https://mx.linkedin.com/company/xipe-technology">Linkedin</a></p>
                    <p class="f_400 f_size_15"><span class="f_400 t_color3">Facebook:</span> <a href="https://www.facebook.com/XipeTechnology/ ">Facebook</a></p>
                    <p class="f_400 f_size_15"><span class="f_400 t_color3">Instagram:</span> <a href="https://www.instagram.com/xipe_tech/?hl=es-la ">Instagram</a></p>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="contact_form">
                    <form action="contact_process.php" class="contact_form_box" method="post" id="contactForm" novalidate="novalidate">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" id="name" name="name" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="email" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    <input type="text" id="empresa" name="enterprise" placeholder="Empresa">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    <input type="text" id="subject" name="subject" placeholder="Asunto">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Ingresa tu mensaje . . ."></textarea>
                                </div>
                            </div>
                        </div>
                        @*<button type="submit" class="hosting_btn btn_hover">Enviar</button>*@
                        <a href="" class="hosting_btn btn_hover">Enviar</a>
                    </form>
                    @*<div id="success">Your message succesfully sent!</div>
                        <div id="error">Opps! There is something wrong. Please try again</div>*@
                </div>
            </div>
        </div>
    </div>
</section>

